html
    head
        title Object Editor
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(name='apple-mobile-web-app-capable', content='yes')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
        link(rel='stylesheet', href='css/app.css')
    body
        #app: .spinner
            i.fa.fa-spin.fa-circle-o-notch
            p.loading Loading app...
        script(src='js/app.js')
